/* DISCLAIMER

    All code below may contain:
    -Bad formating
    -Incorrect code
    -Unnecessary code
    -Repeated Code
    -The occasional slip-up

This is in no way the fault of Luke Finlayson and
can be blamed on late nights, short deadlines and 
exceptionally ditracting distractions.            



Overall Styling */
html {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/* Header */
.header {
    background-color: #ffffff;
    position: sticky;
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #a8a8a8;
    display: inline-block;
    text-align: center;
}
.header span {
    color: #a8a8a8;
    display: inline-block;
    float: left;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 6px;
    margin-top: 13px;
    position: fixed;
}
.header span:hover {
    color: #d1d1d1;
}

.header img {
    height: 25px;
    padding-left: 40%;
    display: inline-block;
    width: 25px;
}


/* Fonts and Padding */



/* Nav Bar and Hamburger Styling */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-image: url("greenblack123");
    background-size: 100% 200px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #a8a8a8;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #d1d1d1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* Main Page */
.mainpage h2 {
    color: #a8a8a8;
    text-align: center;
}
.mainpage p {
    color: #a8a8a8;
    text-align: center;
}

iframe {
    width: 100%;
}

.description {
    width: 100%;
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.description3 {
	height: 700px;
}	

/* Gallery */

.galleryFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.galleryFlex img {
    margin: 30px;
}

.gallery {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Background */

.background1 {
	background-image: url("background1.jpg");
	height: 800px;
	background-repeat: no-repeat;
	background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.background1 h2 {
	font-size: 30px;
    padding-top: 10%;
}

.background1 p {
	font-size: 20px;
}

/* Cards */

.teamCard {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 15%;
	float: left;
    background-color: white;
    height: 40%;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.teamCard img {
	width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.teamContainer {
	color: #a8a8a8;
	font-size: 25px;
    padding: 5px;
}

#teamContainer {
	font-size: 17px;
}
		
/* Parallax */
.parallax {
    background-image: url("pieces2.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax1 {
    background-image: url("scattered.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    background-image: url("scattered2.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {
    background-image: url("piecesscattered1.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption {
    position: relative;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #ffffff
}
.caption span.border {
    background-color: #ffffff;
    color: #a8a8a8;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
}


/* About Page */

.about {
    background-image: url("money.jpg");
    padding: 40px;
    padding: 40px
}

.about h2 {
    color: #a8a8a8;
    text-align: center;
}

.about p {
    color: #a8a8a8;
}

.about a {
	padding-left: 50px;
	width: 15%;
	border-radius: 25px;
	background-color: #6daf59;
	color: #ffffff;
	text-decoration: none;
}

/*Java Script about page*/

.js-demo button {
    background-color: #896768;
    border: none;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 16px;
    border-radius: 10%;
}
.scrollToTop{
	width:100px; 
	height:35px;
	padding:10px; 
	text-align:center; 
	background: #ffffff;
	font-weight: bold;
	color: #a8a8a8;
	text-decoration: none;
	border-radius: 35px;
	position:fixed;
	top: 80%;
	right: 46%;
	opacity: 0.9;
	display:none;
	background-image: url("arrow.png") no-repeat 0px 20px
}
.scrollToTop:hover{
	text-decoration: none;
	opacity: 1;
}

/* Product Page */

.optionFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 300px;
}

.optionFlex .product {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    text-align: center;
}

.product h2 {
    color: #a8a8a8;
    font-size: 30px;
    display: inline-block;
}
.product p {
    color: #a8a8a8;
    font-size: 20px;
    display: inline-block;
}

.army {
    background-image: url("lined.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.deal {
    background-image: url("lined.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}  

/* Contact Styling */
.contact h3 {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #bababa;
}
.contact {
    float: left;
}
.contact p {
    font-family: Arial, Helvetica, sans-serif;
    color: #a8a8a8;
}
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    list-style-type: none;
    color: #a8a8a8;
}
.contact {
    padding-left: 6px;
}

.easterLink {
	color: #a8a8a8;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

.contact1 {
	float: left;
	display: inline;
	color: #a8a8a8;
}

.contact2 {
	float: right;
	display: inline;
}

/* Footer */

.footer {
    height: 200px;
}

.footerColumn {
    float: left;
    display: inline;
    width: 50%;
}

.footerColumn h4 {
    color: #a8a8a8;
    font-family: Ariel, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.footerColumn ul {
    list-style-type: none;
    text-align: center;
}

.footerColumn li {
    margin: 10px;
}

.footerColumn a {
    color: #a8a8a8;
    font-family: Ariel, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    
}

.footerColumn p {
    color: #a8a8a8;
    font-family: Ariel, Hevetica, sans-serif;
    font-size: 15px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
    
footer a {
    text-decoration: none;
    color: #bababa;
    position: absolute;
    right: 0;
    padding-right: 6px;
}
footer h3 {
    color: #a8a8a8;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding-left: 6px;
}
footer {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
    margin: 0;
    animation-name: footer;
    animation-duration: 5s;
    animation-iteration-count: infinate;
    animation-direction: alternate;
}

@keyframe footer {
	from {
		backgroundc-color: #ffffff;
		color: #a8a8a8;
	}
	to {
		background-color: #2d2d2d;
		color: #595959;
	}
}
